<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="nh">NUESTRA HISTORIA</h1>
        </div>
        <div class="row historia">
            <div class=" col recuadroblanco ">
                <div  style="background-color:white;">
                   
                    <img src="/images/logo.png" class="logo" alt="los comienzos" style="height: 80; ">
                    


                    <p>
                        Todo comienza con la cabecera del equipo, Belen, que le quiso dar un nuevo rumbo a su vida
                        laboral,
                        entonces empieza a elaborar pastas artesanales en su hogar. <br> Con el objetivo de tener un
                        ingreso
                        extra por motivos personales comienza vendiéndole a conocidos, pero poco a poco las ventas
                        comenzaron
                        a subir, llegando cada vez a más personas. <br> En el año 2020, plena pandemia, con las ventas
                        subiendo, este pequeño grupo tuvo que buscar un lugar más grande donde producir. Gracias a un
                        local
                        prestado el 14 de junio pueden mudarse
                        Comenzando con una mesa, un freezer, una amasadora, y 1/2 bolsa de harina
                    </p>
                    <img class="primer" src="/images/primerlocal.jfif">
                    <img class="primer2" src="/images/}jfif.jfif">
                    <p> <b>3 meses después...</b> necesitaban aumentar producción e incrementar más herramientas para la
                        elaboración, así que al equipo se sumó una máquina de hacer ñoquis y otra vez cambiamos de salón
                        a
                        otro un poco más grande de aproximadamente 40 metros cuadrados.<br></p>
                           <img class="primer3" src="/images/fabrica2jfif.jfif">
                     <p>
                        <b>6 meses después... más específicamente el 20 de febrero del 2021</b> se mudaron a la fabrica
                        actual, donde trabajan día a día para brindar lo mejor a los clientes, tratando de
                        implementar nuevos productos, maquinarias e ideas.

                    </p>
                    <img src="/images/actualidad.jfif" style="height: 180px; padding: 5px;">

                </div>
            </div>
        </div>

    </div>
</div>
</div>