<div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="nh">NUESTRA HISTORIA</h1>
            </div>
           
            <div class="row historia" >
                <div class=" col-3 primero">
                <div style="background-color:white;">
                    <img src="/images/logo.png" class="logo" alt="los comienzos">
                </div>
                <h5>AÑO</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at magnam quod officiis ipsam
                fugit, amet iure, similique soluta obcaecati quibusdam iste vel ea optio repellat, placeat reiciendis.
                Rem, deleniti. </p>
            </div>
            <div class="linea"></div>
            <div class=" col-3 primero">
                <div style="background-color:white;">
                    <img src="/images/logo.png" class="logo" alt="los comienzos">
                </div>
                <h5>AÑO</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at magnam quod officiis ipsam
                fugit, amet iure, similique soluta obcaecati quibusdam iste vel ea optio repellat, placeat reiciendis.
                Rem, deleniti. </p>
            </div>
            <div class="linea"></div>
            <div class=" col-3 primero">
                <div style="background-color:white;">
                    <img src="images/logo.png" class="logo" alt="los comienzos">
                </div>
                <h5>AÑO</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum at magnam quod officiis ipsam
                fugit, amet iure, similique soluta obcaecati quibusdam iste vel ea optio repellat, placeat reiciendis.
                Rem, deleniti. </p>
            </div>
        </div>
    </div>
    </div>