<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;margin-top: 20px;">ÑOQUIS</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 noquis ">
            <div class="col">
                <div class="card">
                    <img src="/images/ÑOQUIS1.JPG" class="card-img-top" alt="ñoquis de papa">
                    <div class="card-body">
                        <h5 class="card-title">Ñoquis de Papa</h5>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/ñoquisEspinaca.jpg" class="card-img-top" alt="ñoquis de espinaca">
                    <div class="card-body">
                        <h5 class="card-title">Ñoquis de Espinaca</h5>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
