 <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;margin-top: 20px;">RAVIOLONES</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 noquis">
                <div class="col">
                    <div class="card" >
                        <img src="/images/VerdurayCarne.JPG" class="card-img-top" alt="Verdura y Carne" style="height: 250px;width:250px">
                        <div class="card-body">
                            <h5 class="card-title">Verdura y Carne</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/ESPINACA.jpg" class="card-img-top" alt="Espinaca, Ricotta y Muzzarella en masa de espinaca"style="height: 225px;width:250px" >
                        <div class="card-body">
                            <h5 class="card-title">Espinaca, Ricotta y Muzzarella, en masa de espinaca</h5>
                          
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/MorronesAsados.jpg" class="card-img-top"style="height: 225px;width:250px" alt="Morrones Asados, Muzzarella y Ciboulettef ">
                        <div class="card-body">
                            <h5 class="card-title">Morrones Asados, Muzzarella y Ciboulette</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/LomoalMalbec.jpg"  style="height: 225px;width:250px" class="card-img-top" alt="Lomo al Malbec">
                        <div class="card-body">
                            <h5 class="card-title">Lomo al Malbec</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/4Quesos.jpg"  style="height: 225px;width:250px" class="card-img-top" alt="Cuatro Quesos">
                        <div class="card-body">
                            <h5 class="card-title">Cuatro Quesos</h5>
                        </div>
                    </div>
                </div>
                 <div class="col">
                    <div class="card">
                        <img src="/images/AlmendrasTostadas.jpg"  style="height: 205px;width:230px" class="card-img-top" alt="Almedras Tostadas, Ricotta y Verdeo">
                        <div class="card-body">
                            <h5 class="card-title">Almedras Tostadas, Ricotta y Verdeo</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/CarneEstofada.jpg"  style="height: 250px;width:250px" class="card-img-top" alt="Carne Estofada y Muzzarella">
                        <div class="card-body">
                            <h5 class="card-title">Carne Estofada y Muzzarella</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/Cordero.jpg"  style="height: 250px;width:250px" class="card-img-top" alt="Cordero y Vegetales ">
                        <div class="card-body">
                            <h5 class="card-title">Cordero y Vegetales </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/Entraña.jpg"  style="height: 250px;width:250px" class="card-img-top" alt="Entraña al Champiñon">
                        <div class="card-body">
                            <h5 class="card-title">Entraña al Champiñon </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/LomitodeCerdo.jpg"  style="height: 225px;width:230px" class="card-img-top" alt="Lomito de Cerdo al vino Blanco">
                        <div class="card-body">
                            <h5 class="card-title">Lomito de Cerdo al Vino Blanco </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/PolloYVegetales.jpg"  style="height: 250px;width:250px" class="card-img-top" alt="Pollo y Vegetales Salteados">
                        <div class="card-body">
                            <h5 class="card-title">Pollo y Vegetales Salteados</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/RoquefortyNueces.jpg"  style="height: 250px;width:250px" class="card-img-top" alt="Roquefort y Nueces">
                        <div class="card-body">
                            <h5 class="card-title">Roquefort y Nueces </h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/JamonPuerroyMuzzarella.jpg"  style="height: 250px;width:250px" class="card-img-top" alt="Jamón, puerro y muzzarella">
                        <div class="card-body">
                            <h5 class="card-title">Jamón, Puerro y Muzzarella </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

