<div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;margin-top: 20px;">SORRENTINOS</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="/images/Ricotta y nuez.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ricotta y Nuez</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                                repudiandae vitae exercitationem quas minus nesciunt magni perferendis eligendi eos
                                laudantium? Laboriosam eos quam nam ad illo quo odit alias eius.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nombre Sorrentino</h5>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit,
                                veritatis. Possimus maxime repellat ipsam officia, laboriosam magnam quasi
                                necessitatibus, vero dignissimos, voluptatum quos quam qui! Commodi nam ipsa numquam et.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nombre Sorrentino</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis
                                itaque a nobis consequuntur! Aliquid totam fugit architecto velit nulla. Expedita
                                reprehenderit inventore, officia nostrum at voluptatum saepe ea adipisci?</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nombre Sorrentino</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam,
                                voluptates accusantium? Adipisci hic reprehenderit libero a voluptas nam eos laboriosam
                                aliquid necessitatibus architecto amet corporis, ratione voluptatem eius ducimus soluta!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
