<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;margin-top: 20px;">SORRENTINOS</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 noquis">
            <div class="col">
                <div class="card">
                    <img src="/images/Ricotta y nuez.jpg" class="card-img-top" alt="Ricotta y Nuez">
                    <div class="card-body">
                        <h5 class="card-title">Ricotta y Nuez</h5>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Ricottajyq.jpg" style="height: 250px;width:250px" class="card-img-top"
                        alt=" Ricotta, jam贸n y queso">
                    <div class="card-body">
                        <h5 class="card-title">Ricotta, Jam贸n y Queso</h5>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/jamonyqueso.jpg" style="height: 250px;width:250px" class="card-img-top"
                        alt="Jam贸n y Queso">
                    <div class="card-body">
                        <h5 class="card-title">Jam贸n y Queso</h5>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/calabaza (3).jpg" style="height: 250px;width:250px" class="card-img-top"
                        alt="Calabaza y muzzarella">
                    <div class="card-body">
                        <h5 class="card-title">Calabaza y Muzzarella</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Sricottaespinaca.jpg" style="height: 225px;width:250px" class="card-img-top"
                        alt="Ricotta, espinaca y muzzarella">
                    <div class="card-body">
                        <h5 class="card-title">Espinaca, Ricotta y Muzzarella, en masa de espinaca</h5>
                       
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/cebolla.jpg" style="height: 226px;width:250px" class="card-img-top"
                        alt="Cebolla caramelizada, reggianito y muzzarella">
                    <div class="card-body">
                        <h5 class="card-title">Cebolla caramelizada, Reggianito y Muzzarella</h5>
                    </div>
                </div>
            </div>
             <div class="col">
                <div class="card">
                    <img src="/images/ricottaespinaca.jpg" style="height: 250px;width:250px" class="card-img-top"
                        alt="Cebolla caramelizada, reggianito y muzzarella">
                    <div class="card-body">
                        <h5 class="card-title">Espinaca, Ricotta y Muzzarella</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>