<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/producto">PRODUCTOS</a></li>
        <li><a href="/contactano">CONTACTANOS</a></li>
        <li><a href="/historia">SOBRE NOSOTROS</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
